#home .card img {
    height    : 250px;
    object-fit: cover;
}

#home .card {
    height: 470px;
    transition: all .2s;
}

#home .card:hover {
    transform: scale(1.02);
}


#home .card .card-body .btn:hover {
    transform: scale(1.05);
}

#home .card .card-body .btn {
    transition: all .2s;
    position    : absolute;
    bottom      : 10px;
    left        : 0;
    right       : 0;
    margin-left : auto;
    margin-right: auto;
    width       : 70%;
}